// COLORS
$color-primary:#fe7799;
$color-primary-light: #7ed56f;
$color-primary-dark: #eb2f64;

$color-secondary-light: rgb(188, 164, 128);
$color-secondary-dark: #f7a800;



$color-grey-light-1: #f4f4f4;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-black-1:#141414;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


